body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  white-space: pre-line;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: white;
}

a {
  -webkit-tap-highlight-color: transparent;
}

body, button, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none;
  user-select: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}